@import "_general.scss";
@import "_menu.scss";

.block-produits {
  height: 400px;
  margin: 0;
  border: 0.5px solid #dddddd;
  p {
    margin: 0;
  }
}
.produits-catalogue {
  max-width: 200px;
  max-height: 200px;
}
.block-filter-products {
  border: 1px solid #e2e3e5;
  margin: {
    left: 10%;
    right: 10%;
    top: 2%;
  }
}
.block-filter-products {
  @extend .shadow-cards
}

#block-tendances-header {
  border: 1px solid #dddddd;
  background: $turquoise;
  color: $white;
}
#block-tendances-content {
  border: {
    bottom: 1px;
    left: 1px;
    right: 1px;
    top: 0px;
    color: #DDDDDD;
    style: solid;
  }
}
.block-produits:hover {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.btn-quantity {
  width: 30px;
  height: 30px;
  i {
    line-height: 30px;
    font-size: 1.3rem;
  }
  .minus {
    position:relative;
    top: -7px;
    font-size: 1.6rem;
  }
}
.h2-catalog {
  font-size: 18px;
  font-weight: 700;
}
h3 {
  font-size: 14px;
}
.quantity-text::before {
  content: 'Quantité : ';
}
@mixin disableStyleInputNumber() {
  & {
    border-bottom: 0px !important;
  }
  &:focus {
    border-bottom: 0px !important;
  }
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
.nb-point {
  width: 15% !important;
  box-shadow: none !important;
  @include disableStyleInputNumber();
}
.quantity {
  width: 10% !important;
  @include disableStyleInputNumber();
}
.pagination {
  .active {
    background-color: #26a69a !important;
  }
}
.command {
  height: 30px;
  line-height: 30px;
  padding: 0 0.8rem;
}
.marque-produit {
  max-width: 90%;
  overflow-wrap: break-word;
}
.produit-block {
  border: 1px solid #e2e3e5;
  margin: 1%;
  padding: 5%;
  width: 95%;
  height: 420px;
  &:hover {
    @extend .shadow-cards
  }
}
#checkout {
  position: absolute;
  right: 0;
  top: -20px;
}
// responsive mobile
@media screen and (max-width: 992px) {
  #block-filter-products-mobile {
    display: block;
    margin: {
      top: 80px;
    }
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
  }
  #collapseProduct {
    overflow: scroll;
    height: 450px;
  }
  .blockProduits {
    margin-top: 140px;
  }
  .block-filter-products-mobile {
    display: block;
  }
  .quantity-text::before {
    content: 'Qte : ';
  }
  #checkout {
    position: fixed;
    top:10%;
  }
}
@media screen and (max-width: 800px) {
  #commanderBtn {
    top: 85px;
  }
}
@media screen and (max-width: 662px) {
  .btn-quantity {
    width: 25px;
    height: 25px;
    .minus {
      position:relative;
      top: -7px;
      font-size: 1.6rem;
    }
  }
  .block-produits {
    height: 330px;
  }
}
@media screen and (max-width: 600px) {
  .block-produits {
    height: 470px;
  }
  .btn-quantity {
    width: 30px;
    height: 30px;
    i {
      line-height: 30px;
      font-size: 1.3rem;
    }
    .minus {
      position:relative;
      top: -7px;
      font-size: 1.6rem;
    }
  }
}
@media screen and (max-width: 440px) {
  .block-produits {
    height: 400px;
  }
}