@import "_general.scss";
@import "_menu.scss";

.panel-home {
  height: 100px;
  border: 1px solid #EEEEEE;
  margin-top: 100px;
  background: $turquoise;
  color: $white;
  &:hover {
    cursor: pointer;
  }
  a {
    display:block;
    width: 100%;
    height: 100%;
    color: $white;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
  }
}

#last-selection {
  margin-top: 100px;
}

#header-home {
  padding: 5px;
  text-align: center;
}

.partners-img img {
  width: 200px;
  height: auto;
}

.card-right {
  #header-card {
    background: #EEEEEE;
    margin-top: 100px;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    height: 50px;
  }
}