@import "_general.scss";
@import "_menu.scss";

#form-info {
  border: 1px solid #dddddd;
  position: relative;
  height: 75vh;
}
#update-info{
  position:absolute;
  bottom:0;
  right:0;
  margin: {
    right: 10px;
    bottom: 10px;
  }
}
// responsive
@media screen and (max-width: 992px) {
  #update-info {
    position: absolute;
    bottom: 0px;
  }
  #form-info {
    border: none;
  }
}
