@import "_general.scss";
@import "_menu.scss";

#form-info {
  position: relative;
  height: 35vh;
}
#update-info {
  float: right;
}
// responsive
@media screen and (max-width: 992px) {
  #form-info {
    border: none;
  }
}
