@import "_general.scss";
@import "_menu.scss";

#form-info {
  width: 50%;
  margin-left: 25%;
  border: 1px solid #dddddd;
  position: relative;
}
#update-info{
  position:absolute;
  bottom:0;
  right:0;
  margin: {
    right: 10px;
    bottom: 10px;
  }
}