@import "_general.scss";
@import "_vertical-menu.scss";
.block-home {
  background: #FFFFFF;
  margin: {
    bottom: 5px;
    right: 5px;
  }
  text-align: center;
  height: 200px;
  width: 24.5% !important;
}
#block-table {
  width: 785px;
  background: #FFFFFF;
  height: 350px;
  position: relative;
  .pagination {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
#menu-mobile {
  display: none;
}
@function blockResize($width) {
  @return ($width / 2) - 2.5;
}
$height-lg-block: 350px;
.block-lg {
  height: $height-lg-block;
  width: 390px !important;
  background: #FFFFFF;
  margin-left: 5px !important;
  text-align: center;
}
.block-md {
  @extend .block-lg;
  height: blockResize($height-lg-block) !important;
  position: relative;
}
.stats {
  font-size: 30px;
  position: absolute;
  top: 20%;
  left: 25%;
}
.block-graph {
  height: 300px;
}
// Responsive
@media screen and (max-width: 1250px) {
 .block-home {
   width: 49% !important;
 }
}
@media screen and (max-width: 1250px) {
  .block-home {
    width: 49% !important;
  }
  .block-lg {
    width: 49% !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 500px) {
  .block-home {
    width: 100% !important;
    margin: {
      left:0 !important;
      right: 0 !important;
    }
  }
  .block-lg {
    width: 100% !important;
  }
}