@import "_general.scss";
@import "_vertical-menu.scss";
.block-home {
  background: #FFFFFF;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  height: 200px;
  width: 390px !important;
}
#block-table {
  width: 785px;
  background: #FFFFFF;
  height: 350px;
  position: relative;
  .pagination {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@function blockResize($width) {
  @return ($width / 2) - 2.5;
}
$height-lg-block: 350px;
.block-lg {
  height: $height-lg-block;
  width: 390px !important;
  background: #FFFFFF;
  margin-left: 5px !important;
  text-align: center;
}
.block-md {
  @extend .block-lg;
  height: blockResize($height-lg-block) !important;
  height: 172.5px !important;
  position: relative;
}
.stats {
  font-size: 30px;
  position: absolute;
  top: 20%;
  left: 25%;
}
.block-graph {
  height: 300px;
}