@import "_general.scss";
@import "_vertical-menu.scss";

.large-block {
  height: 100vh;
}
#contentlist {
  height: 100px;
}
#block-encarts {
  text-align: center;
  button {
    background: $dark-blue;
  }
}