// Center menu and remove native color Material
#menu:not(.button-collapse-side) {
  width: 100%;
  box-shadow: none;
  background-color: $white;
  position: fixed;
  top:0;
  z-index: 2;
  box-shadow: 0 3px 2px -2px #A5A5A5;
}
#nav-mobile {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
.button-collapse-side {
  position: absolute;
  left: 1000px;
}
// style anchor
.li-menu a {
  color: $turquoise;
  &:hover {
    background: transparent;
    color: #80cbc4 !important;
  }
  // border hover effect
  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    position: relative;
    bottom: 15px;
  }
  &:hover:after {
    width: 100%;
    background: $turquoise;
  }
}