@import "_general.scss";
@import "_menu.scss";
#contact-form {
  text-align: center;
  border: 1px solid #aaaaaa;
  box-shadow: 8px 8px 0px #aaaaaa;
  padding-bottom: 10px;
}
#contact {
  margin-top: 20px;
}