@charset "UTF-8";
.relative {
  position: relative;
}

.shadow-cards, .block-filter-products, .produit-block:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

img {
  z-index: -1;
}

.btn-network {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

.fa-linkedin:before {
  position: relative;
  top: -7px;
}

.divider-custom {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 1px;
  background-color: #26A69A;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.no-mb {
  margin-bottom: 0px;
}

blockquote {
  border-left: 5px solid #26A69A;
}

body {
  background-color: #FFFFFF;
  position: relative;
}

#title-side-nav {
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 22px;
}

.spinner-red, .spinner-custom {
  border-color: #26A69A;
}

#container-all {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-footer {
  padding-top: 2%;
  padding-bottom: 2%;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

#menu:not(.button-collapse-side) {
  width: 100%;
  box-shadow: none;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 2px -2px #A5A5A5;
  height: 80px;
}

#nav-mobile {
  position: fixed;
  left: 50%;
  transform: translate(-40%, 0);
  width: 80%;
}

.button-collapse-side {
  display: none;
}

.li-menu a {
  color: #26A69A;
}

.li-menu a:hover {
  background: transparent;
  color: #80cbc4 !important;
}

.li-menu a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  position: relative;
  bottom: 15px;
}

.li-menu a:hover:after {
  width: 100%;
  background: #26A69A;
}

#logo-medpharmacom-menu-pc {
  width: 180px;
}

#logo-medpharmacom-menu {
  display: none;
}

#logo-home-pc:hover {
  background: transparent;
}

@media screen and (max-width: 1420px) {
  #nav-mobile {
    width: 85%;
  }
  .li-menu a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #nav-mobile {
    transform: none;
    left: 0;
  }
}

@media screen and (max-width: 937px) {
  #nav-mobile {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #logo-medpharmacom-menu {
    display: block;
    width: 20%;
  }
  .button-collapse-side {
    position: absolute;
    display: block;
    right: 0;
  }
  #nav-mobile .li-menu:not(#burger-menu) {
    display: none;
  }
  .button-collapse-side {
    top: -60px;
  }
  #logo-medpharmacom-menu-pc {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  #logo-medpharmacom-menu {
    width: 30%;
  }
}

@media screen and (max-width: 440px) {
  .button-collapse-side {
    top: -48px;
  }
}

@media screen and (max-width: 380px) {
  #logo-medpharmacom-menu {
    width: 45%;
  }
  .button-collapse-side {
    top: -60px;
  }
}

@media screen and (max-width: 320px) {
  .button-collapse-side {
    top: -50px;
  }
}

.block-produits {
  height: 400px;
  margin: 0;
  border: 0.5px solid #dddddd;
}

.block-produits p {
  margin: 0;
}

.produits-catalogue {
  max-width: 200px;
  max-height: 200px;
}

.block-filter-products {
  border: 1px solid #e2e3e5;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

#block-tendances-header {
  border: 1px solid #dddddd;
  background: #26A69A;
  color: #FFFFFF;
}

#block-tendances-content {
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-color: #DDDDDD;
  border-style: solid;
}

.block-produits:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn-quantity {
  width: 30px;
  height: 30px;
}

.btn-quantity i {
  line-height: 30px;
  font-size: 1.3rem;
}

.btn-quantity .minus {
  position: relative;
  top: -7px;
  font-size: 1.6rem;
}

.h2-catalog {
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
}

.quantity-text::before {
  content: 'Quantité : ';
}

.nb-point {
  width: 15% !important;
  box-shadow: none !important;
}

.nb-point {
  border-bottom: 0px !important;
}

.nb-point:focus {
  border-bottom: 0px !important;
}

.nb-point::-webkit-inner-spin-button, .nb-point::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.quantity {
  width: 10% !important;
}

.quantity {
  border-bottom: 0px !important;
}

.quantity:focus {
  border-bottom: 0px !important;
}

.quantity::-webkit-inner-spin-button, .quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.pagination .active {
  background-color: #26a69a !important;
}

.command {
  height: 30px;
  line-height: 30px;
  padding: 0 0.8rem;
}

.marque-produit {
  max-width: 90%;
  overflow-wrap: break-word;
}

.produit-block {
  border: 1px solid #e2e3e5;
  margin: 1%;
  padding: 5%;
  width: 95%;
  height: 420px;
}

#checkout {
  position: absolute;
  right: 0;
  top: -20px;
}

@media screen and (max-width: 992px) {
  #block-filter-products-mobile {
    display: block;
    margin-top: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
  }
  #collapseProduct {
    overflow: scroll;
    height: 450px;
  }
  .blockProduits {
    margin-top: 140px;
  }
  .block-filter-products-mobile {
    display: block;
  }
  .quantity-text::before {
    content: 'Qte : ';
  }
  #checkout {
    position: fixed;
    top: 10%;
  }
}

@media screen and (max-width: 800px) {
  #commanderBtn {
    top: 85px;
  }
}

@media screen and (max-width: 662px) {
  .btn-quantity {
    width: 25px;
    height: 25px;
  }
  .btn-quantity .minus {
    position: relative;
    top: -7px;
    font-size: 1.6rem;
  }
  .block-produits {
    height: 330px;
  }
}

@media screen and (max-width: 600px) {
  .block-produits {
    height: 470px;
  }
  .btn-quantity {
    width: 30px;
    height: 30px;
  }
  .btn-quantity i {
    line-height: 30px;
    font-size: 1.3rem;
  }
  .btn-quantity .minus {
    position: relative;
    top: -7px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 440px) {
  .block-produits {
    height: 400px;
  }
}

/*# sourceMappingURL=catalogue.css.map */
